.div{
    display: flex;
    width: 800px;
    margin: 0 auto;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.854);
    margin-top: 2rem;
    border-radius: 19px;
    padding: 25px;
    margin-bottom: 2rem;
}
.btn{
    display: flex;
    
}