.item{
    padding: 7px 20px;
    font-size: 20px;    
}
.item p{
    border: 3px solid;
    height: 35px;
    padding-left: 1rem;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.854);
}